nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #383838;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-left, .nav-right {
    display: flex;
}

.nav-left > div {
    color: white;
    padding: 5px;
}

.nav-right > div {
    width: 80px;
    color: white;
    padding: 5px;
}

.icon {
    width: 30px;
}

.XMUM_Facebook{
    display:inline-block;
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 1.2em
}

.ForgetPassword{
    display:inline-block;
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding: 5px;
    font-weight: bold;
}

.Text{
    display:inline-block;
    color:white;
}

.InputBlock{
    display:inline-block;
    background-color: #565656;
    border: 1px white solid;
}

.LoginButton{
    display:inline-block;
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding: 5px;
    padding-right: 100px;
    font-weight: bold;
}