nav {
    display: flex;
    justify-content: space-between;
    height: 35px;
    background-color: #383838;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    font-size: 0.8em;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: "Verdana", sans-serif;*/
}

a {
    text-decoration: none;
}

.nav-left, .nav-right{
    display: flex;
    padding-top: 5px;
}

.nav-left {
    margin-left: 10px;
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-left > a {
    color: white;
}

.icon {
    width: 30px;
}

.homeBtn{
    color: white;
    font-size: 1.2em;
    padding-top: 5px;
}

.ForgetPassword{
    border: 0;
    display:inline-block;
    background-color: #383838;
    color: white;
    /*font-family: Verdana, san-serif;*/
    height: 30px;
    padding: 5px;
    font-weight: bold;
}

.Text{
    color:white;
    display: inline-block;
    padding: 0 5px 0 10px;
}

.LoginInputBlock{
    background-color: #565656;
    border: 1px white solid;
    color: white;
}

.LoginButton{
    border: 0;
    background-color: #383838;
    color: white;
    /*font-family: Verdana, san-serif;*/
    height: 30px;
    padding: 5px;
    font-weight: bold;
}

.submit-result{
    color: red;
    font-size: 0.7em;
    padding: 5px;
    padding-left: 0px;
    width: 210px;
}