nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #383838;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
}

a {
    text-decoration: none;
}

.nav-left, .nav-right, .nav-center {
    display: flex;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-center {
    justify-content: center;
}

.nav-left > a {
    color: white;
    padding: 5px;
}

.nav-right > div {
    width: 80px;
    color: white;
    padding: 5px;
}

.icon {
    width: 30px;
}

/*.XMUM_Facebook{
    display:inline-block;
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 1.2em
}*/

.ForgetPassword{
    display:inline-block;
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding: 5px;
    font-weight: bold;
}

.Text{
    color:white;
}

.InputBlock{
    background-color: #565656;
    border: 1px white solid;
}

.LoginButton{
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding: 5px;
    padding-right: 0px;
    font-weight: bold;
}

.submit-result{
    color: red;
    font-size: 0.7em;
    padding: 5px;
    padding-left: 0px;
    width: 210px;
}