nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #383838;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-left, .nav-right {
    display: flex;
}

.nav-left > div {
    color: white;
    padding: 5px;
}

.nav-right > div {
    width: 80px;
    color: white;
    padding: 5px;
}

.icon {
    width: 30px;
}

.LogoutButton{
    display:inline-block;
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding: 5px;
    padding-right: 100px;
    font-weight: bold;
}
