nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #383838;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
}

a {
    text-decoration: none;
}

.nav-left, .nav-right, .nav-center {
    display: flex;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-center {
    justify-content: center;
}

.nav-left > a {
    color: white;
    margin: 5px 20px;
    font-size: 0.8em;
    transition: 0.2s ease-in-out;
}

.nav-left > .active, .nav-left > a:hover {
    color: #d1cc6e;
}

.nav-center > a {
    color: white;
    padding: 5px;
}

.nav-right > div {
    width: 80px;
    color: white;
    padding: 5px;
}

.icon {
    width: 30px;
}

.LogoutButton{
    display:inline-block;
    background-color: #383838;
    color: white;
    border: 0px;
    font-family: Verdana, san-serif;
    height: 30px;
    padding: 5px;
    padding-right: 100px;
    font-weight: bold;
}
