#register-main-body{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 450px;
    height: 90%;
    width: 100%;
    background-size: 100%;
}

.register-body{
    flex: 1 1 auto;
    margin: 250px auto;
    width: 390px;
    border: black solid 2px;
    height: 195px;
}

#RegisterBlock{
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #383838;
    margin: 0 auto;
    font-size: 1.5em;
}

.line{
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
    color: white;
}

.InputBlock{
    background-color: #565656;
    height: 25px;
    color: white;
    border: 1px white solid;
}

.SubmitBlock{
    width: 150px;
    text-align: center;
    background-color: #383838;
    color: white;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    border: none;
}