.register-body{
/*    margin: 127px auto;
    width: 350px;
    !*border: #d1cc6e solid 2px;*!
    height: 210px;*/

    height: 100%;display: flex;justify-content: center;width: 100%; flex: 0 1 auto;align-items: center;
}

#RegisterBlock{
    color: #d1cc6e;
    text-align: center;
    /*background-color: #383838;*/
    margin: 0 auto;
    font-size: 1.5em;
    border-bottom: #d1cc6e solid 1px;
}

.line{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
    color: #d1cc6e;
}

.InputBlock{
    background-color: #565656;
    height: 20px;
    color: #d1cc6e;
    border: 1px #d1cc6e solid;
}

.SubmitBlock{
    width: 150px;
    text-align: center;
    background-color: #383838;
    color: #d1cc6e;
    padding: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    border: #d1cc6e 1px solid;
}