.register-body{
    margin: 127px auto;
    width: 390px;
    border: white solid 2px;
    height: 210px;
}

#RegisterBlock{
    color: white;
    text-align: center;
    background-color: #383838;
    margin: 0 auto;
    font-size: 1.5em;
    border-bottom: white solid 2px;
}

.line{
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
    color: white;
}

.InputBlock{
    background-color: #565656;
    height: 25px;
    color: white;
    border: 1px white solid;
}

.SubmitBlock{
    width: 150px;
    text-align: center;
    background-color: #383838;
    color: white;
    padding: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    border: white 1px solid;
}