#main-body {
    align-content: center;
    width:100%;
    border: 1px cornflowerblue;

}

.title {

    font-size: 2em;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

.content> div > div {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
.block {
    height: 90%;
    width: 100%;
    background-color: #d1cc6e;
    align-items: center;
    justify-content: center;
}

.block > div {
    font-size: 2em;
    text-align: center;
    height: 30%;
    width: 100%;
}

#block1 {
    background-color: #d1cc6e;
}

#block2 {
    background-color: lightblue;
}

#block3 {
    background-color: coral;
}



.profile {
    height: 150px;
    border-radius: 50%;
}
