#main-body {
    margin: 60px auto;
    width: 500px;
    text-align: center;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.content > div > div {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.profile {
    height: 150px;
    border-radius: 50%;
}

tr {
    vertical-align: top;
    /*border: 1px solid darkgray;*/
}

.label {
    width: 300px;
    height: 50px;
    font-weight: bold;
}

.label + td {
    width: 500px;
}

.input {
    width: 100%;
}
