body {
    margin: 0;
    background-color: #f2f2f2;
    /*background-color: #e3e4e5;*/
    /*background-color: #29303d;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#main-body {
    margin-top: 40px;
}