body
{
    font-size:11px
}
h3
{
    margin:0px
}
.speechbox {
    margin-left: 20px;
    background: white;
    padding: 10px 15px;
    font-weight: normal;
    position: relative;
    border-radius: 10px;
}
.speechbox:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    left: -10px;
    top: 6px;
}
.divShow
{
    /*border:solid 1px #ccc;*/
    margin-left:20px;
    height:70%;
    padding:5px;
    font-size:12px;
    overflow-y:scroll
}

.divShow::-webkit-scrollbar{
    width: 6px;
    background-color: #515156;
}

.divShow::-webkit-scrollbar-thumb{
    background-color: #d1cc6e;
}

.divShow::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #515156;
}

#divMain .divtop
{
    padding:0 10px;
}
#divMain .divtop .divL
{
    float:left;
    width:80%
}
#divMain .divtop .divR
{
    float:right;
    width:20%
}
.divR{
    background-color:#383838;
    height: 100%;
    position:fixed;
    right:0;
}
#divMain .divBot
{
    clear:both;
    padding:10px
}
#divMain .divBot .pb
{
    padding-bottom:3px
}
#divMain .divBot .pl
{
    padding-left:12px
}
#divMain .divBot .pt
{
    padding-top:3px;
    color:#555
}
.clsTip
{
    position:absolute;
    width:160px;
    text-align:center;
    font-size:13px;
    border:solid 1px #cc3300;
    margin-top:5px;
    padding:2px;
    margin-bottom:5px;
    background-color:#ffe0a3;
    display:none;
}
.upload
{
    display:none;
}
.txt
{
    border:#666 1px solid;
    padding:2px;
    margin-right:3px
}
.btn
{
    display: inline-block;
    min-width: 150px;
    height: 62px;
    background-color: transparent;
    border-radius: 31px;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    border:none;
    margin:0 10px;

    /*border:#666 1px solid;
    padding:2px;
    width:135px;
    height:54px;
    font-size:16px;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff, EndColorStr=#ECE9D8)*/
}
.btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    border: 1px solid #dbcf69;
    /*background-color: #827ffe;*/
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn:hover:before {
    /*background-color: #403866;*/
    background-color: #dbcf69;
    color: black;
    width: calc(100% + 20px);
}

.btn:focus{
    outline:none;
}