#landing-main-body {
    float: left;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block {
    height: 90%;
    width: 100%;
    flex: 0 1 auto;
    background-color: #d1cc6e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block > div {
    font-size: 2em;
    text-align: center;
    height: 30%;
    width: 70%;
    flex: 0 1 auto;
}

#block1 {
    background-color: #d1cc6e;
}

#block2 {
    background-color: lightblue;
}

#block3 {
    background-color: coral;
}

