#main-body {
    float: left;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    ustify-content: center;
    width: 100%;
}

.PasswordForget{
    margin: 250px auto;
    width: 400px;
    border: black solid 2px;
    height: 500px;
}

.passwordreset{
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #383838;
    margin: 0 auto;
    font-size: 1.5em;
}

.email{
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: right;
}

.emailinput{
    background-color: #565656;
    height: 25px;
    width: 250px;
    color: white;
    border: 1px white solid;"
}

.submit{
    width: 150px;
    text-align: center;
    background-color: #383838;
    color: white;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    border: none;"
}