#status-input{
    margin-top: 60px;
    margin-left: 350px;
    width: 50%;
    position: fixed;
    background-color:lightslategrey;
    border: 1px solid #d1cc6e;
}

textarea{

    margin: 20px;
    resize: none;
    overflow: hidden;
}

.buttooon{
    width:100px;
    margin:15 auto;
    background-color: black;
    color:white;
    text-align: center;
    cursor:hand;
}

.pfp{
    height:50px;
    width:50px;
    margin-left:30px;
}

.admin-username{
    color: aliceblue;
}

.user-username{
    color: #d1cc6e;
}

.date-posted{
    color: #e3e4e5;
    font-size: small;
}
.main{
    float: left;
    border: 1px solid black;
    margin-left: 350px;
    margin-top:180px;
    width: 50%;
    text-align: center;
    background-color: #d1cc6e;
}

.normal{
    float: left;
    border: 1px solid black;
    margin-left: 350px;
    margin-top:50px;
    width: 50%;
    padding-top:30px ;
    text-align: center;
    background-color: #383838;
    margin-bottom: 50px;
}

.content{
    padding: 20px;
    text-align: justify;
}

.tiny-words{
    font-size: 8px;
}