nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #383838;
    padding: 5px;
    position: sticky;
}

.nav-left, .nav-right {
    display: flex;
}

.nav-left > div {
    color: white;
    padding: 5px;
}

.nav-right > div {
    width: 80px;
    color: white;
    padding: 5px;
}

.icon {
    width: 30px;
}